@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Tourney:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");
@import "reset.css";
@import "status-bar.css";
body {
  font-family: "Staatliches", cursive;
  font-family: "Tourney", cursive;
  background-color: rgb(233, 174, 174);
}
